@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0px;
    margin: 0px;
}


body,html{
   
    height: 100vh;
    width: 100vw;

    background-image: linear-gradient(to top, #c6d860, #546cf1);
}


main .container{
background-color: white;
border-radius: 5px;
width: 250px;
height: 350px;
position: absolute;

top: 50%;
left: 50%;
transform: translate(-50%,-50%);
transition: 1s height, width;
}
main .container p{
    font-family: 'Bebas Neue';
    font-size: 1.9em;
      
text-align: center;

}
header a#voltar{
    display: block;
    text-decoration: none;
    font-size: 2.2em;
    text-align: center;
    color: black;
   
    width: 200px;
    border-radius: 10px;
    margin: auto;
   
}
header a#voltar:hover{
    color: white;

    transition: color 0.5s;
}
